SetEnv GHOST_NODE_VERSION_CHECK false
PassengerStartupFile dist/boot.cjs
PassengerResolveSymlinksInDocumentRoot on
Require all granted
PassengerAppType node
PassengerAppRoot /home/darigoshin/domains/nebuls.ru/app
Options -MultiViews
